---
import ArticleWithImgOnSide from "../components/ArticleWithImgOnSide.astro";
import SlideShow from "../components/SlideShow.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Zsák Kata - Szolgáltatások";
const egyeni = (await Astro.glob('./articles/egyeni.md'))[0].frontmatter
const elkezdem = (await Astro.glob('./articles/elkezdem.md'))[0].frontmatter
const folytatom = (await Astro.glob('./articles/folytatom.md'))[0].frontmatter
const cegeknek = (await Astro.glob('./articles/cegeknek.md'))[0].frontmatter

---

<BaseLayout pageTitle={pageTitle}>

<section id="szolgaltatasok" class="section">
<h1 class="pageHeader">Szolgáltatások</h1>
<div class="container">
    <section id="egyeni">
        <ArticleWithImgOnSide frontmatter={egyeni}/>
        <ArticleWithImgOnSide frontmatter={elkezdem}/>
        <ArticleWithImgOnSide frontmatter={folytatom}/>
    </section>
    <section id="cegeknek" class="section">
        <ArticleWithImgOnSide frontmatter={cegeknek}/>
    </section>
    <section id="workshop" class="section">
        <div class="workshopContainer">
            <h1>Workshopok</h1>
            <h2>Aktuális workshopokról a Facebook eseményekben találsz infót</h2>
        </div>
        <SlideShow images={["ws1.webp","ws2.webp","ws3.webp","ws4.webp","ws5.webp","ws6.webp"]}/>
    </section>
</div>  
</section>

</BaseLayout>

<style>
    .workshopContainer {
        max-width: 1200px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }
</style>
