---
const {cards} = Astro.props
const {title} = Astro.props
---
<section>
<div class="container">
    <div class="header">{title}</div>
    <div class="grid">
        {cards.map((card) => (
            <div class="card">
                <div class="cardImage">
                    <img src={card.frontmatter.image.url} alt={card.frontmatter.image.alt} />
                </div>   
                <div class="cardTitle">
                    <Fragment set:html={card.frontmatter.title} />
                </div>
                <div class="cardDescription">
                    <p> 
                        <Fragment set:html={card.frontmatter.description} />
                    </p>
                </div>  
                <div class="button">
                    <a href={card.frontmatter.buttonLink}>
                        <button class:list={["btn", {"hide": card.frontmatter.buttonText === ""}]}>
                            <Fragment set:html={card.frontmatter.buttonText} />
                        </button>
                    </a>  
                </div>
            </div>            
        ))}
    </div>
</div>
</section>
<style>

section {
    background-color: rgba(183, 165, 156, 0.74);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    padding-top: 1em;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4em;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.grid {        
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: #ffffffda;
}

.header {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1280px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    font-size: 2em;
    line-height: 1.5em;
    font-weight: bold;
    background-color: #ffffff81;
}

.cardTitle {
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.cardImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5em;
    width: 100%;
}

.cardImage img {
    width: 100%;
    border-radius: 20px;
    display: block;
} 

.cardDescription {
    font-size: 1.0em;
    line-height: 1.5em;
    text-align: center;
} 

.button {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

@media screen and (min-width: 1200px) {
    .grid {        
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
    }

    .card {
        width: 350px;
    }
}

</style>