---
const {reviews} = Astro.props
---
<section>
<div class="reviewContainer">
    <h1 class="reviewHeader">Vélemények</h1>
    <div class="reviewGrid">
        {reviews.map((review) => (
            <div class="reviewCard">

                <div class="reviewImage">
                    <img src={review.frontmatter.image.url} alt={review.frontmatter.image.alt} />
                </div>   
                <h2 class="reviewName">
                    <Fragment set:html={review.frontmatter.name} />
                </h2>
                <div class="reviewDescription">
                    <p> 
                        <Fragment set:html={review.frontmatter.review} />
                    </p>
                </div>    
                <div class="fivestar"></div>
            </div>            
        ))}
    </div>
</div>
</section>
<style>

.reviewContainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.reviewGrid {        
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

.fivestar{
    background-image: url("/fivestar.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    margin-top: auto;

}

.reviewCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: #f7e5ddb6;
}

.reviewHeader, .reviewImage, .reviewDescription, .fivestar, .reviewContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.reviewHeader {
    text-align: center;
    display: block;
    margin-bottom: 2em;
}

.reviewName {
    text-align: center;
    display: block;
    margin-bottom: 1em;
    text-transform: none;
}

.reviewImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 80%;
    max-width: 40%;
}

.reviewImage img {
    width: 100%;
    border-radius: 20px;
    display: block;
} 

.reviewDescription {
    line-height: 1.5em;
} 

@media screen and (min-width: 1200px) {
    .reviewGrid {        
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .reviewCard {
        width: 350px;
    }
}

</style>